Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/1df54485fa28db69/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/2d94c3f3f29e662c/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/55d74fc88b522a00/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/c1ac59eb390eec76/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/cf30989ba86afe3/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/.suo
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC.db
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
Direct3DFrameWork/x64/Debug/D3D.obj
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.exe
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.ilk
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.log
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.pdb
Direct3DFrameWork/x64/Debug/main.obj
Direct3DFrameWork/x64/Debug/MainGame.obj
Direct3DFrameWork/x64/Debug/vc141.idb
Direct3DFrameWork/x64/Debug/vc141.pdb
Direct3DFrameWork/x64/Debug/Window.obj
