Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/1df54485fa28db69/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/2d94c3f3f29e662c/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/55d74fc88b522a00/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/c1ac59eb390eec76/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/cf30989ba86afe3/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/.suo
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC.db
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
Direct3DFrameWork/x64/Debug/D3D.obj
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.exe
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.ilk
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.log
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.pdb
Direct3DFrameWork/x64/Debug/main.obj
Direct3DFrameWork/x64/Debug/MainGame.obj
Direct3DFrameWork/x64/Debug/vc141.idb
Direct3DFrameWork/x64/Debug/vc141.pdb
Direct3DFrameWork/x64/Debug/Window.obj
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/a6e388a3fe35c071/WINDOW.ipch
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/e364bd2a6c60ad80/MAINGAME.ipch
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/.suo
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/Browse.VC.db
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
ChristmasTreeStar/x64/Debug/D3D.obj
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.exe
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.ilk
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.log
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.pdb
ChristmasTreeStar/x64/Debug/main.obj
ChristmasTreeStar/x64/Debug/MainGame.obj
ChristmasTreeStar/x64/Debug/vc141.idb
ChristmasTreeStar/x64/Debug/vc141.pdb
ChristmasTreeStar/x64/Debug/Window.obj
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/18f1ad8ebf5ee708/MAINGAME.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC-user-PC.db
RotatingCube/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/895fedf74d9c75a4/MAINGAME.ipch
RotatingCube/.vs/Direct3DFrameWork/v15/.suo
RotatingCube/.vs/Direct3DFrameWork/v15/Browse.VC.db
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
RotatingCube/x64/Debug/D3D.obj
RotatingCube/x64/Debug/Direct3DFrameWork.exe
RotatingCube/x64/Debug/Direct3DFrameWork.ilk
RotatingCube/x64/Debug/Direct3DFrameWork.log
RotatingCube/x64/Debug/Direct3DFrameWork.pdb
RotatingCube/x64/Debug/main.obj
RotatingCube/x64/Debug/MainGame.obj
RotatingCube/x64/Debug/vc141.idb
RotatingCube/x64/Debug/vc141.pdb
RotatingCube/x64/Debug/Window.obj
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/.suo
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeWithTexture/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/1ed5ec0d63f7de10/MAINGAME.ipch
CubeWithTexture/.vs/Direct3DFrameWork/v15/.suo
CubeWithTexture/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/8985f30711ff76fc/MAINGAME.ipch
CubeMan/.vs/Direct3DFrameWork/v15/.suo
CubeMan/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
CubeMan/x64/Debug/D3D.obj
CubeMan/x64/Debug/Direct3DFrameWork.exe
CubeMan/x64/Debug/Direct3DFrameWork.ilk
CubeMan/x64/Debug/Direct3DFrameWork.log
CubeMan/x64/Debug/Direct3DFrameWork.pdb
CubeMan/x64/Debug/main.obj
CubeMan/x64/Debug/MainGame.obj
CubeMan/x64/Debug/vc141.idb
CubeMan/x64/Debug/vc141.pdb
CubeMan/x64/Debug/Window.obj
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/a05ea87c32485708/MAINGAME.ipch
CubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/55c904038cce84a2/MAIN.ipch
CubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/c5d15dce719d5a5d/WINDOW.ipch
Direct3DFrameWork/Direct3DFrameWork.VC.db
MovingCubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/4029241e40c9d3d2/D3D.ipch
MovingCubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/7115cb4e1531c1f2/MAIN.ipch
MovingCubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/796e8f07cb8ce68c/MAINGAME.ipch
MovingCubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/d68067ebdfc9cd5/UTIL.ipch
MovingCubeMan/.vs/Direct3DFrameWork/v15/.suo
MovingCubeMan/.vs/Direct3DFrameWork/v15/Browse.VC.db
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
MovingCubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
MovingCubeMan/x64/Debug/D3D.obj
MovingCubeMan/x64/Debug/Direct3DFrameWork.exe
MovingCubeMan/x64/Debug/Direct3DFrameWork.ilk
MovingCubeMan/x64/Debug/Direct3DFrameWork.log
MovingCubeMan/x64/Debug/Direct3DFrameWork.pdb
MovingCubeMan/x64/Debug/Font.obj
MovingCubeMan/x64/Debug/Gizmo.obj
MovingCubeMan/x64/Debug/Keyboard.obj
MovingCubeMan/x64/Debug/main.obj
MovingCubeMan/x64/Debug/MainGame.obj
MovingCubeMan/x64/Debug/Util.obj
MovingCubeMan/x64/Debug/vc141.idb
MovingCubeMan/x64/Debug/vc141.pdb
MovingCubeMan/x64/Debug/Window.obj
CubeMan/.vs/Direct3DFrameWork/v15/Browse.VC-user-PC.db
CubeMan/.vs/Direct3DFrameWork/v15/-user-PC.suo
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1-user-PC.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1-user-PC.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1-user-PC.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork-user-PC.lastbuildstate
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/unsuccessfulbuild
CubeMan/x64/Debug/MainGame-user-PC.obj
Light&Material/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/6ff75149909597fa/MAIN.ipch
Light&Material/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/710eb6f797375684/MAINGAME.ipch
Light&Material/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/736d2c42b47bfbe7/COMMON.ipch
Light&Material/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/760b852a50d0d6ca/D3D.ipch
Light&Material/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/91ba576c97c43d26/MAINSTRUCT.ipch
Light&Material/.vs/Direct3DFrameWork/v15/.suo
Light&Material/.vs/Direct3DFrameWork/v15/Browse.VC.db
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
Light&Material/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
Light&Material/x64/Debug/D3D.obj
Light&Material/x64/Debug/Direct3DFrameWork.exe
Light&Material/x64/Debug/Direct3DFrameWork.ilk
Light&Material/x64/Debug/Direct3DFrameWork.log
Light&Material/x64/Debug/Direct3DFrameWork.pdb
Light&Material/x64/Debug/Font.obj
Light&Material/x64/Debug/Gizmo.obj
Light&Material/x64/Debug/Keyboard.obj
Light&Material/x64/Debug/main.obj
Light&Material/x64/Debug/MainGame.obj
Light&Material/x64/Debug/Util.obj
Light&Material/x64/Debug/vc141.idb
Light&Material/x64/Debug/vc141.pdb
Light&Material/x64/Debug/Window.obj
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
Direct3DFrameWork/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
Direct3DFrameWork/Debug/D3D.obj
Direct3DFrameWork/Debug/Direct3DFrameWork.exe
Direct3DFrameWork/Debug/Direct3DFrameWork.ilk
Direct3DFrameWork/Debug/Direct3DFrameWork.log
Direct3DFrameWork/Debug/Direct3DFrameWork.pch
Direct3DFrameWork/Debug/Direct3DFrameWork.pdb
Direct3DFrameWork/Debug/DrawImGui.obj
Direct3DFrameWork/Debug/Font.obj
Direct3DFrameWork/Debug/Gizmo.obj
Direct3DFrameWork/Debug/Keyboard.obj
Direct3DFrameWork/Debug/main.obj
Direct3DFrameWork/Debug/MainGame.obj
Direct3DFrameWork/Debug/RTT.obj
Direct3DFrameWork/Debug/vc141.idb
Direct3DFrameWork/Debug/vc141.pdb
Direct3DFrameWork/Debug/Window.obj
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC.opendb
XFileWithTexture3(+CameraMove)/.vs/Direct3DFrameWork/v15/.suo
XFileWithTexture3(+CameraMove)/.vs/Direct3DFrameWork/v15/Browse.VC.db
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
XFileWithTexture3(+CameraMove)/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
XFileWithTexture3(+CameraMove)/Debug/D3D.obj
XFileWithTexture3(+CameraMove)/Debug/Direct3DFrameWork.exe
XFileWithTexture3(+CameraMove)/Debug/Direct3DFrameWork.ilk
XFileWithTexture3(+CameraMove)/Debug/Direct3DFrameWork.log
XFileWithTexture3(+CameraMove)/Debug/Direct3DFrameWork.pch
XFileWithTexture3(+CameraMove)/Debug/Direct3DFrameWork.pdb
XFileWithTexture3(+CameraMove)/Debug/DrawImGui.obj
XFileWithTexture3(+CameraMove)/Debug/Font.obj
XFileWithTexture3(+CameraMove)/Debug/Gizmo.obj
XFileWithTexture3(+CameraMove)/Debug/Keyboard.obj
XFileWithTexture3(+CameraMove)/Debug/main.obj
XFileWithTexture3(+CameraMove)/Debug/MainGame.obj
XFileWithTexture3(+CameraMove)/Debug/RTT.obj
XFileWithTexture3(+CameraMove)/Debug/vc141.idb
XFileWithTexture3(+CameraMove)/Debug/vc141.pdb
XFileWithTexture3(+CameraMove)/Debug/Window.obj
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3D.395E25AC.tlog/unsuccessfulbuild
XFileWithTexture3(+CameraMove)/x64/Debug/D3D.obj
XFileWithTexture3(+CameraMove)/x64/Debug/Direct3DFrameWork.log
XFileWithTexture3(+CameraMove)/x64/Debug/DrawImGui.obj
XFileWithTexture3(+CameraMove)/x64/Debug/Font.obj
XFileWithTexture3(+CameraMove)/x64/Debug/Gizmo.obj
XFileWithTexture3(+CameraMove)/x64/Debug/Keyboard.obj
XFileWithTexture3(+CameraMove)/x64/Debug/main.obj
XFileWithTexture3(+CameraMove)/x64/Debug/MainGame.obj
XFileWithTexture3(+CameraMove)/x64/Debug/RTT.obj
XFileWithTexture3(+CameraMove)/x64/Debug/vc141.idb
XFileWithTexture3(+CameraMove)/x64/Debug/vc141.pdb
XFileWithTexture3(+CameraMove)/x64/Debug/Window.obj
XFileWithTexture2/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/18f1ad8ebf5ee708/MAINGAME.ipch
XFileWithTexture2/.vs/Direct3DFrameWork/v15/ipch/3f2e43a49a68add8.ipch
XFileWithTexture2/.vs/Direct3DFrameWork/v15/.suo
XFileWithTexture2/.vs/Direct3DFrameWork/v15/Browse.VC.db
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
XFileWithTexture2/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
XFileWithTexture2/Debug/D3D.obj
XFileWithTexture2/Debug/Direct3DFrameWork.exe
XFileWithTexture2/Debug/Direct3DFrameWork.ilk
XFileWithTexture2/Debug/Direct3DFrameWork.log
XFileWithTexture2/Debug/Direct3DFrameWork.pch
XFileWithTexture2/Debug/Direct3DFrameWork.pdb
XFileWithTexture2/Debug/DrawImGui.obj
XFileWithTexture2/Debug/Font.obj
XFileWithTexture2/Debug/Gizmo.obj
XFileWithTexture2/Debug/Keyboard.obj
XFileWithTexture2/Debug/main.obj
XFileWithTexture2/Debug/MainGame.obj
XFileWithTexture2/Debug/RTT.obj
XFileWithTexture2/Debug/vc141.idb
XFileWithTexture2/Debug/vc141.pdb
XFileWithTexture2/Debug/Window.obj
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
XFileWithTexture2/x64/Debug/Direct3D.395E25AC.tlog/unsuccessfulbuild
XFileWithTexture2/x64/Debug/D3D.obj
XFileWithTexture2/x64/Debug/Direct3DFrameWork.log
XFileWithTexture2/x64/Debug/DrawImGui.obj
XFileWithTexture2/x64/Debug/Font.obj
XFileWithTexture2/x64/Debug/Gizmo.obj
XFileWithTexture2/x64/Debug/Keyboard.obj
XFileWithTexture2/x64/Debug/main.obj
XFileWithTexture2/x64/Debug/MainGame.obj
XFileWithTexture2/x64/Debug/RTT.obj
XFileWithTexture2/x64/Debug/vc141.idb
XFileWithTexture2/x64/Debug/vc141.pdb
XFileWithTexture2/x64/Debug/Window.obj
XFileWithTexture/.vs/Direct3DFrameWork/v15/ipch/3f2e43a49a68add8.ipch
XFileWithTexture/.vs/Direct3DFrameWork/v15/.suo
XFileWithTexture/.vs/Direct3DFrameWork/v15/Browse.VC.db
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
XFileWithTexture/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
XFileWithTexture/Debug/D3D.obj
XFileWithTexture/Debug/Direct3DFrameWork.exe
XFileWithTexture/Debug/Direct3DFrameWork.ilk
XFileWithTexture/Debug/Direct3DFrameWork.log
XFileWithTexture/Debug/Direct3DFrameWork.pch
XFileWithTexture/Debug/Direct3DFrameWork.pdb
XFileWithTexture/Debug/DrawImGui.obj
XFileWithTexture/Debug/Font.obj
XFileWithTexture/Debug/Gizmo.obj
XFileWithTexture/Debug/Keyboard.obj
XFileWithTexture/Debug/main.obj
XFileWithTexture/Debug/MainGame.obj
XFileWithTexture/Debug/RTT.obj
XFileWithTexture/Debug/vc141.idb
XFileWithTexture/Debug/vc141.pdb
XFileWithTexture/Debug/Window.obj
Direct3DFRameWork/.vs/Direct3DFrameWork/v15/ipch/3f2e43a49a68add8.ipch
Direct3DFRameWork/x64/Debug/Direct3D.395E25AC.tlog/unsuccessfulbuild
Direct3DFRameWork/x64/Debug/DrawImGui.obj
Direct3DFRameWork/x64/Debug/Font.obj
Direct3DFRameWork/x64/Debug/Gizmo.obj
Direct3DFRameWork/x64/Debug/Keyboard.obj
Direct3DFRameWork/x64/Debug/RTT.obj
XFileWithTexture/Direct3DFrameWork.VC.db
