Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/1df54485fa28db69/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/2d94c3f3f29e662c/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/55d74fc88b522a00/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/c1ac59eb390eec76/D3D.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/cf30989ba86afe3/WINDOW.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/.suo
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC.db
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
Direct3DFrameWork/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
Direct3DFrameWork/x64/Debug/D3D.obj
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.exe
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.ilk
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.log
Direct3DFrameWork/x64/Debug/Direct3DFrameWork.pdb
Direct3DFrameWork/x64/Debug/main.obj
Direct3DFrameWork/x64/Debug/MainGame.obj
Direct3DFrameWork/x64/Debug/vc141.idb
Direct3DFrameWork/x64/Debug/vc141.pdb
Direct3DFrameWork/x64/Debug/Window.obj
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/a6e388a3fe35c071/WINDOW.ipch
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/e364bd2a6c60ad80/MAINGAME.ipch
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/.suo
ChristmasTreeStar/.vs/Direct3DFrameWork/v15/Browse.VC.db
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
ChristmasTreeStar/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
ChristmasTreeStar/x64/Debug/D3D.obj
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.exe
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.ilk
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.log
ChristmasTreeStar/x64/Debug/Direct3DFrameWork.pdb
ChristmasTreeStar/x64/Debug/main.obj
ChristmasTreeStar/x64/Debug/MainGame.obj
ChristmasTreeStar/x64/Debug/vc141.idb
ChristmasTreeStar/x64/Debug/vc141.pdb
ChristmasTreeStar/x64/Debug/Window.obj
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/18f1ad8ebf5ee708/MAINGAME.ipch
Direct3DFrameWork/.vs/Direct3DFrameWork/v15/Browse.VC-user-PC.db
RotatingCube/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/895fedf74d9c75a4/MAINGAME.ipch
RotatingCube/.vs/Direct3DFrameWork/v15/.suo
RotatingCube/.vs/Direct3DFrameWork/v15/Browse.VC.db
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
RotatingCube/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
RotatingCube/x64/Debug/D3D.obj
RotatingCube/x64/Debug/Direct3DFrameWork.exe
RotatingCube/x64/Debug/Direct3DFrameWork.ilk
RotatingCube/x64/Debug/Direct3DFrameWork.log
RotatingCube/x64/Debug/Direct3DFrameWork.pdb
RotatingCube/x64/Debug/main.obj
RotatingCube/x64/Debug/MainGame.obj
RotatingCube/x64/Debug/vc141.idb
RotatingCube/x64/Debug/vc141.pdb
RotatingCube/x64/Debug/Window.obj
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/.suo
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeWithTexture/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/1ed5ec0d63f7de10/MAINGAME.ipch
CubeWithTexture/.vs/Direct3DFrameWork/v15/.suo
CubeWithTexture/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeMan/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/8985f30711ff76fc/MAINGAME.ipch
CubeMan/.vs/Direct3DFrameWork/v15/.suo
CubeMan/.vs/Direct3DFrameWork/v15/Browse.VC.db
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.command.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.read.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/CL.write.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/Direct3DFrameWork.lastbuildstate
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.command.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.read.1.tlog
CubeMan/x64/Debug/Direct3D.395E25AC.tlog/link.write.1.tlog
CubeMan/x64/Debug/D3D.obj
CubeMan/x64/Debug/Direct3DFrameWork.exe
CubeMan/x64/Debug/Direct3DFrameWork.ilk
CubeMan/x64/Debug/Direct3DFrameWork.log
CubeMan/x64/Debug/Direct3DFrameWork.pdb
CubeMan/x64/Debug/main.obj
CubeMan/x64/Debug/MainGame.obj
CubeMan/x64/Debug/vc141.idb
CubeMan/x64/Debug/vc141.pdb
CubeMan/x64/Debug/Window.obj
ParentCube&ChildCube/.vs/Direct3DFrameWork/v15/ipch/AutoPCH/a05ea87c32485708/MAINGAME.ipch
